.App {
margin: 0;
padding: 0;
box-sizing: border-box;
}
.home{
    background: gray;
    width: 100%;
    height: 650px;
}
.table{
    margin: auto;
    margin-top: 50px;
    padding: 25px;
    background-color: aqua;
    width: 700px;
    height: 200px;
       
}


